<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>
    <p>Email: <mark><%= data.id %></mark></p>
    <p>Name: <mark><%= data.name %></mark></p>
    <p>Email: <mark><%= data.age %></mark></p>
  </body>
</html>
