<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <img src="img.avif" alt="" height="300px" width="400px" />
    <% if(10>=18) {%>
    <h1>Congrats num is greater</h1>
    <% } else { %>
    <h1>num is smaller</h1>
    <% } %>
    <br />
    <hr />
    <%for(let i=1 ; i<=10; i++){ %>
    <h1><%= i %></h1>
    <%}%>
  </body>
</html>
