<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>User Registration</h1>

    <hr>


    <form action="/saveform" method="post">

        <label for="">User Email</label>
        <input type="email" name="useremail" id="useremail">

        <br><br>


        <label for="">Enter Password</label>
        <input type="password" name="userpass" id="userpass">

        <br><br>

        <label for="">Enter Mobile </label>
        <input type="text" name="usermobile" id="usermobile">

        <br><br>

        <label for="">Enter DOB</label>
        <input type="date" name="userdob" id="userdob">

        <br><br>


        <button>Save Form</button>
    </form>
    
</body>
</html>