<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Slides</title>
  </head>
  <body>
    <%- include('../views/navbar.ejs')%>
    <div class="container">
      <div class="row my-5">
        <div class="col-md-12 text-center my-3">
          <a href="/add_slider">
            <button class="btn btn-danger fw-bold px-4 mx-2 btn-sm">
              Add Slider Data
            </button></a
          >

          <button class="btn btn-dark fw-bold px-4 mx-2 btn-sm">
            View Slider Data
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
