<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <%- include('../views/cdn.ejs')%>
  </head>
  <body>
    <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
      <a class="navbar-brand" href="/">Slider Management</a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="manage_sliders">Manage Carousel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#scrollspyHeading2">Login/Signup</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
