<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%-include('navbar.ejs')%>
  </head>
  <body>
    <h1>Hey Home</h1>
    <br />
    <form action="/saveform" method="post">
      <label for="">First Name</label>
      <input
        type="text"
        placeholder="enter your first name"
        name="name"
        id="name"
      />
      <br /><br />
      <label for="">Your Age</label>
      <input type="number" placeholder="enter your age" name="age" id="age" />
      <br /><br />
      <button>Save Form</button>
    </form>
  </body>
</html>

<!-- Middleware -->
<!-- Middleware to fetch data through POST Method -->
<!-- app.use(express.urlencoded({extended:true})) -->
<!-- FOR FETCHING -->
<!-- req.body -->
