<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interview Calls</title>

    <!-- Bootstrap CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <style>
      body {
        background-color: #eaf9fb;
        font-family: 'Segoe UI', sans-serif;
      }
      .header {
        background-color: #006d77;
        text-align: center;
        color: white;
        padding: 0.5rem 2rem;
        border-radius: 0 0.5rem 0.5rem 0;
        font-size: 2rem;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 2rem;
      }
      th {
        background-color: #006d77 !important;
        color: white !important;
        text-align: center;
      }

      td {
        text-align: center;
        vertical-align: middle !important;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid py-5">
      <!-- Header -->
      <div class="row mb-4">
        <div class="col-md-3 col-sm-4 header">Interview Calls</div>
      </div>
      <!-- Main -->
    
        <div class="table-responsive mx-5 w-75 mx-auto">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sr.N</th>
                <th>Company Name</th>
                <th>Position</th>
                <th>Date</th>
                <th>No.</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1.</td>
                <td>SpeedUp Infotech</td>
                <td>UI Developer</td>
                <td>12/3/2001</td>
                <td>9</td>
                
                <td>
                  <a href="/interview_calls/interview_details">
                    <i
                      class="bi bi-box-arrow-up-right fw-bold"
                      style="cursor: pointer; color: #006d77"
                    ></i
                  ></a>
                </td>
              </tr>
              <tr>
                <td>2.</td>
                <td>SpeedUp Infotech</td>
                <td>UI Developer</td>
                <td>12/3/2001</td>
                <td>9</td>
                
                <td>
                  <a href="/interview_calls/interview_details">
                    <i
                      class="bi bi-box-arrow-up-right fw-bold"
                      style="cursor: pointer; color: #006d77"
                    ></i
                  ></a>
                </td>
              </tr>
              <tr>
                <td>3.</td>
                <td>SpeedUp Infotech</td>
                <td>UI Developer</td>
                <td>12/3/2001</td>
                <td>9</td>
                
                <td>
                  <a href="/interview_calls/interview_details">
                    <i
                      class="bi bi-box-arrow-up-right fw-bold"
                      style="cursor: pointer; color: #006d77"
                    ></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
   

   
  </body>
</html>
